PORT=3007
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=nb
COGNITO_REGION=eu-north-1
COGNITO_USER_POOL_ID=
CORS_FRONTEND=http://localhost:5175
AUTH_MODE=local
NODE_ENV=development
S3_MEDIA_BUCKET=nb-media
S3_REGION=eu-north-1
